h3{
    color: darkorange;
    background-color: cyan;
    font-size: 40px;
}

p,tbody{
    font-size: 30px;
    background-color: crimson;
    color: azure;
}

thead{
  color: chartreuse;
  background-color: darkcyan;
}

h1{
    text-transform: lowercase;
}

.t_transform_upper{
    text-transform: uppercase;
}

.t_transform_lower{
    text-transform: lowercase;
}

.t_capitalise{
    text-transform:capitalize;
}

.t_decoration{
    text-decoration: line-through;
}

.t_decoration{
     text-decoration: underline;
}

.t_indentt{
    text-indent: 10px;
}

.t_line_height{
    line-height: 40px;
}

.t_letter_spacing{
    letter-spacing: 5px;
}

.t_word_spacing{
    word-spacing: 50px;
}

.img_b_shadow{
     width: 400px;
     box-shadow: 10px 9px 10px lightcoral;
    margin-right: 40px;
}

.img_b_shadow2{
     width: 400px;
     box-shadow: 10px 9px 10px rgb(9, 205, 90);
}

.img_b_shadow3{
     width: 400px;
     box-shadow: 6px 7px 8px #DD27F5;
}

.img_d_shadow{
     width: 400px;
    filter: drop-shadow(7px 7px 7px #ff5303fe);
}

.f_family{
    font-family: fantasy;
    background: transparent;
}

.f_family1{
    font-family:monospace;
    color: black;
    background: transparent;
}

.f_weight{
    font-weight: 600;
    background: black;
    font-style: italic;
}

/*dashed*/
.bord{
    height: 400px;
    width: 200px;
    border: 8px dashed red;
     
}

/* solid*/
.bo{
    height: 400px;
    width: 200px;
    border: 8px solid yellow;
    border-top-color: aqua;
    border-bottom-color: brown;
    border-left-color: deeppink;
    border-right-color: dimgrey;

    border-top-left-radius:30px ;
    border-top-right-radius: 30px;
}

.box11{
    border: 5px solid yellow;
    padding: 5px;
    margin: 50px;
}

.box1{
    border: 5px solid  purple;
    padding-right: 160px;
    padding-left: 100;
    padding-bottom: 200px;
    padding-top: 130px;
}

.box{
      width: 200px;
      height: 100px;
      background-color: cyan;
      border: 4px solid lime;
      margin-bottom: 10px;
}

.box1{
    position: static;
    }

.box2{
    position: relative;
    left: 150px;
    top: 10px;

}

.box3{
    position: absolute;
    top: 30px;
    left: 150px;
}

.box4{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.box5{
    position: sticky;
    top: 0px;
}

.rel{
    position: relative;
    height:400px ;
    width: 400px;
    background-color: lawngreen;
    left: 100px;
}

#tv{
    position: absolute;
    height: 100px;
    width: 200px;
    left: 70px;
    background-color: aqua;
}

#sofa{
    position: absolute;
    height: 100px;
    width: 250px;
    background-color: crimson;
}

     ul{
            padding: 10px;
            width: 200px;
            list-style: none;
            font-weight: 900;
        }

        li{
            padding: 10px;
            border: 3px solid black;
            margin-bottom: 6px;
            border-radius: 5px;
        }

        li:nth-child(odd){
            background-color: aqua;
        }
        li:nth-child(even){
            background-color: chartreuse;
        }
        li:last-child{
            background-color: darkblue;
        }
        li:first-child{
            background-color: darkkhaki;
        }
        li:nth-child(5){
            background-color: gold;
        }

        .flex-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap ;
           justify-content: space-betweenmm,m,;
           list-style: none;
           flex-flow: column-reverse; 
        }

    .img_b_shadow{
     width: 400px;
     box-shadow: 10px 9px 10px lightcoral;
    margin-right: 40px;
}

.img_b_shadow2{
     width: 400px;
      margin: 20px;
     box-shadow: 10px 9px 10px rgb(9, 205, 90);
}

.img_b_shadow3{
     margin: 20px;
     width: 400px;
     box-shadow: 6px 7px 8px #DD27F5;
}

.img_d_shadow{
    margin: 20px;
     width: 400px;
    filter: drop-shadow(7px 7px 7px #ff5303fe);
}

    body{
            background-color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .swing{
            animation: swing 1.5s ease-in-out infinite alternate;
            transform-origin: top center;
            position: relative;
            height: 350px;
            width: 350px;
        }
        .swing img{
            width: 250px;
            border: 14px groove red;
            box-shadow: 18px 18px 18px gray;
            display: block;
        }
        .swing::before{
            content: "";
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translate(-50%);
            width: 6px;
            height: 50px;
            background: grey;
        }
        .swing::after{
            content: "\2B24";
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            height: 10px;
            border-radius: 50%;
        }
        @keyframes swing{
            0%{transform: rotate(3deg);}
            100%{transform: rotate(-3deg);}
        }

        