h3{
    color: darkorange;
    background-color: cyan;
    font-size: 40px;
}

p,tbody{
    font-size: 30px;
    background-color: crimson;
    color: azure;
}

thead{
  color: chartreuse;
  background-color: darkcyan;
}

h1{
    text-transform: lowercase;
}

.t_transform_upper{
    text-transform: uppercase;
}

.t_transform_lower{
    text-transform: lowercase;
}

.t_capitalise{
    text-transform:capitalize;
}

.t_decoration{
    text-decoration: line-through;
}

.t_decoration{
     text-decoration: underline;
}

.t_indentt{
    text-indent: 10px;
}

.t_line_height{
    line-height: 40px;
}

.t_letter_spacing{
    letter-spacing: 5px;
}

.t_word_spacing{
    word-spacing: 50px;
}